body {
    margin: 0;
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.calculator {
    width: 320px;
    padding: 20px;
}

.display {
    height: 100px;
    color: white;
    text-align: right;
    font-size: 60px;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
}

button {
    height: 70px;
    font-size: 28px;
    border: none;
    border-radius: 50px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:active {
    opacity: 0.7;
}

.gray {
    background: #a5a5a5;
    color: black;
}

.orange {
    background: #f1a33c;
    color: white;
}

.zero {
    grid-column: span 2;
    text-align: left;
    padding-left: 30px;
}
